* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  background-size: cover;
   /* background: url(../img/background.jpg) no-repeat center center fixed */
}


button {
  cursor: pointer;
}

label {
  display: block;
}

textarea {
  width: 90%;
  margin-left: 1rem;
}
input:focus,
select:focus,
button:focus,
input:focus {
  outline: none;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding: 0 5%;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.box-shadow {
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
}

.navbar {
  height: 70px;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-end;
}

.navbar .logo p,
.navbar .logo span {
  font-family: "Merienda", cursive;
  font-size: 1.8rem;
  color: #ececec;
}

.navbar .logo p {
  color: #755c8a;
}

.navbar .logo a {
  font-size: 1rem;
  font-family: "Merienda", cursive;
}

.navbar .button-group button {
  background-color: #755c8a;
  border: none;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #ececec;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-right: 1rem;
}

.navbar .button-group button:last-child {
  margin-right: 0;
}

.navbar .button-group button:hover {
  background-color: #ececec;
  color: #755c8a;
}